# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ci things
node_modules/
tools/
nuget/
artifacts/
coverage/
.tmp/
.nuke/temp
.nuke/build.schema.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/

# Testing results
coverage.json
coverage.info
.vs

# Docs
_site

#OSX
.DS_Store

#Rider
.idea