name: .NET Testing

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "**"

concurrency:
  group: testing-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.x

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.x

      - name: Linting
        run: dotnet format --verify-no-changes

      - name: Create Kubernetes Cluster
        uses: helm/kind-action@v1.12.0

      - name: Execute Tests
        run: dotnet test --configuration ${{ runner.debug == '1' && 'Debug' || 'Release' }}
