name: Deploy GitHub Pages

on:
  push:
    branches:
      - main
      - refactor/split-operator # TODO: test.

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x

      - run: dotnet tool restore
        
      - run: dotnet docfx
        
      - run: mv _site/README.html _site/index.html

      - uses: actions/upload-pages-artifact@v1
        with:
          path: _site

      - uses: actions/deploy-pages@v1
