name: Sync Release Branch

on: [workflow_dispatch]

jobs:
  merge-master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - name: Push master to release branch
        run: |
          git checkout master
          git pull
          git checkout release
          git pull
          git merge master --no-ff -m "chore: release $(date -u +"%Y-%m-%dT%H:%M:%SZ")"
          git push
